version: "3.9"

services:
  api:
    build: .
    container_name: docker-api-lab
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: docker-api-redis
    ports:
      - "6379:6379"
